*{
    margin: 0;
    padding: 0;
}
body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
   
  }
  div.App{
      border: black solid 2px;
      align-items: center;
      text-align: center;
      justify-items: center;
      padding:100px 10px 10px;
      height:20rem;
      width: 20rem;
      background-color: darkblue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: darkorange;
  }
  div.buttons{
      color:azure;
  }
  #button1{
      
      background-color: crimson;
      margin: 20px;
      padding: 2px;
      width: 100px;
      color: beige;

  }
  #button2{
      background-color: cyan;
      margin: 2px;
      padding: 5px;
  }



      
  

